.timer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 50%;
  border: 2px solid black;
  background-color: yellow;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 15px;
  font-weight: 400;
}

.value {
  font-size: 30px;
  font-weight: 700;
  color: gray;
}
